* {
    transition: none;
	font-family: "JetBrainsMono NF";
	font-size: 12.5px;
	color: rgba(180, 100, 100, 0.8);
    text-shadow: none;
}

#waybar {
    background-color:  rgba(255, 222, 222, 0.7);
    border-radius: 10px;
    border: solid 3px rgba(200, 160, 160, 0.7);
}

tooltip {
	border-radius: 10px;
    background-color:  rgba(255, 222, 222, 0.7);
    border: solid 3px rgba(200, 160, 160, 0.7);
}

#custom-launcher {
	margin: 4px 1px 8px 5px;
	padding: 0 6px;
    font-size: 24px;
	background-color: transparent;
	border-radius: 10px;
	min-width: 15px;
	color: rgba(180, 100, 100, 1);
}

#workspaces {
	margin: 0 3px;
	color: transparent;
}

#workspaces button {
	margin: 3px 0;
    padding: 0 4px;
}

#workspaces button:hover {
    background-image: none;
    border: inherit;
    box-shadow: none;
    font-weight: inherit;
}

#workspaces button.active {
    background-color:  rgba(200, 160, 160, 0.7);
    border-radius: 0px;
}

#workspaces button.empty {
}

#workspaces button.urgent * {
}

#tray {
	margin: 3px 2px;
	border-radius: 0px;
	background-color: rgba(200, 160, 160, 0.7);
}

#tray menu {
    background-color:  rgba(255, 222, 222, 0.7);
}

#tray * {
	padding: 0 6px;
}

#mode,
#battery,
#cpu,
#network,
#pulseaudio,
#backlight,
#clock {
	margin: 4px 2px;
	padding: 0 6px;
	border-radius: 20px;
	min-width: 10px;
	background-color: transparent;
}

#clock {
	margin: 4px 2px;
}

#custom-power {
	margin: 4px 5px 4px 1px;
	padding: 0 6px;
	background-color: transparent;
	border-radius: 10px;
	min-width: 15px;
	color: rgba(180, 100, 100, 1);
}
